*{
    margin: 0;
    padding: 0;    
    text-decoration: none;
}



.sidebar{
    background-color: rgba(245, 242, 237, 0.979);
    position:fixed;
    top: 0;
    width:200px;
    height:100%;
    left:-200px; 
    z-index: 998;

  
} 
#top-btn{
    position: fixed;
    /* right: 30px; */
    bottom: 0px;
    right: 40px;
    width: 60px;
    font-size: 50px;
    color:rgba(126, 124, 120, 0.473);
    z-index: 999;
 
}
label #cancel{
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 6px 12px;
    z-index: 11111;
    left:-160px;  
    top: 12px;
    font-size: 30px; 
    z-index: 999;
}
#btn{
    color:rgb(0, 0, 0);
    font-size: 50px;
    left: 30px;
    position:absolute;
    top: 25px;
    display: none; 
    z-index: 997;
}
#check{
    opacity: 0;
    position: absolute;
    top: 1px;
    
  
}

.nav-title{
    
    color: rgb(146, 13, 13);
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    width:100%;
    background-color: rgba(245, 222, 179, 0.348);

}
.sidebar ul{
    
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}
.sidebar ul li a{
    display: block;
    padding: 10px ;
    color: rgb(94, 47, 47);
    font-size: 18px;
    text-decoration:none;
}
span{
    display: block;
    color: rgb(94, 47, 47);
    padding: 0;
    margin: 5px 0 0 0 ;
    font-size: 24px;
    font-family: 'Ma Shan Zheng', cursive;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}
.sidebar ul li .textsmall{
    font-size: 15px;
    padding: 5px;   
}

#check:checked ~ label #cancel{
        left: 160px;
}

.sidebar a:hover{
    background-color: rgba(245, 222, 179, 0.348);
}
#check:checked~.sidebar{
    left: 0;
} 
.sidebar p{
    font-size: 20px;
    text-align: center;
    color:#660000;;
    font-weight: bold;
}


/* =============tabs========== */
.dropdown{
    border-bottom:none;
}
/* .dropdown a{
   text-decoration: none;
}  */

.wrap-flex{
    background-image: url('/img/bgmain.png');
}



#tabs{
    display: flex;
  
}
#tabs-header p{
    font-size: 24px;   
    padding: 20px 60px;
    padding-bottom: 5px;
    color:#660000;;
    font-weight: 10;
    font-family: 'Ma Shan Zheng', cursive;

}
#tabs-header{
    
   display: flex; 
   flex-direction: column;
   justify-content: center;
   /* width: 40%; */
    border-bottom:none;
    border-right: 3px solid rgba(245, 242, 237, 0.979);;
   position: sticky;
   top: 47px;
   z-index: 99;
  
   
}

#tabs-item  a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.93);
    line-height: 2;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 10;
    font-family: 'Ma Shan Zheng', cursive;

   
    
} 

#tabs-header a::after{
    content: '';
    display: block;
    width: 0%;
   background-color:#5c5094;
    height: 1px;
    margin: 5px 0;
    transition: width .7s ;
}
#tabs-header a:hover{
    background-color: rgba(245, 242, 237, 0.979);
    color:#5c5094;;
}
#tabs-header li:hover a::after{
width: 80%;
}



.tab-content{
    width: 80%;
    margin: 0 auto;

}

#tab-txt{
    width: 100%;
   margin:  auto;
    line-height: 2;
    text-align: start;
}
#tab-txt h1{
    text-align: center;
    margin: 30px 0;
    color: rgb(138, 7, 7);
 
}
#tab-txt p{
    font-size: 18px;
    text-indent: 50px;
    color: rgb(90, 87, 87);
}
#tab-txt h2{
    color: #02407E;
    /* text-align: center; */
    font-size: 28px;
}
#tab-txt h3{
    padding: 20px 0px;
    color: #9D6413;
    font-size: 22px;
   
}
.tab-txt-img{
  width: 100%;
}
.tab-txt-img img{
    max-width: 100%;
    opacity: 0.8;
}



#tab-txt h5{
    color: rgba(92, 86, 86, 0.425);
    font-size: 18px;
    /* text-align: center; */
}
.float-clear{
    clear: both;
}

.img1{
    /* width: 500px;
    height: 250px; */
    width: 50%;
    float: right;
    box-sizing: border-box;
    margin: -5px 30px  20px 30px;
    vertical-align: middle;
    height: auto;
max-width: 100%;
}

.img2{
    text-align: center;
    height: auto;
max-width: 100%;
}
.img2 img{
    width: 50%;
    margin: 20px 0;
    height: auto;
max-width: 100%;
}
figure{
    color: rgb(138, 7, 7);
}

/* ============tab2===== */



.txt-flex{
    display:flex;
    justify-content: center;
}
.txt-flex div{
    width: 50%;
    padding: 10px 60px;
}
.txt-flex ol{
    margin: auto;
    padding: 10px 90px;
    font-size: 18px;
}


/* =============block-3-======== */
.block-3-txt{
    display: flex;
    justify-content: center;
    background-color: rgba(245, 222, 179, 0.233);
}
.block-3-txt ul{
    list-style: none;
}


#iink {
    /*	定位在視窗右下角，用 fixed */
    position: fixed;
    right: 20px;
    bottom: 5px;
    transform: scale(0.4, 0.4);
    opacity: 0.5;
    transition: 0.1S;

}
#iink:hover {
    opacity: 1;
    transform: scale(0.5, 0.5);
}


@media screen and (max-width:770px) {
    .sm-hidden{
        display: none;
    }
    nav{
        display: none;
    }
    
    #btn{
       
        display:block;
        
    }
   
}




@media screen and (max-width:960px) {
    
    .md-hidden{
        display: none;
    }
}