a, a:active, a:hover, a:link, a:visited{
     text-decoration: none;
     outline: none;
}

a:hover{
     color: darkred;
}
.row{
     width: 100%;
     padding: 0;
     margin: 0px;
}
.mt-1{
     padding: 0;
     margin: 1px 0;
}
/* ===========nav=============== */
nav{
     font-family: 'Ma Shan Zheng', cursive;
     width: 100%;
     position:sticky;
     top: 0px;
     z-index: 99;
 }
 
 .dropdown{
     display: flex;
     flex-wrap: wrap;
     margin: 0 ;
     justify-content: center;
     border-top: 1px solid rgb(163, 159, 159,0.400);
     border-bottom: 1px solid rgba(163, 159, 159, 0.400);
     background-color: rgba(245, 242, 237, 0.979);
 }
 .dropdown-btn{
    position: relative;
    margin: 0 10px;
    box-sizing: border-box;
 }
 .dropdown a{
     text-decoration: none;
     display: block;
     width: 100%;
    padding: 10px; 
     font-size: 18px;
     color: rgb(150, 144, 144); 
    
 }
 .dropdown-content{
     position: absolute;
     width: 100%;
     padding: 0 2px ;
    display: none;
 }
 .dropdown-content  a{
     text-decoration: none;
     display:inline-block;
     background-color: rgba(245, 242, 237, 0.979);
     width: 100%;
 }
 .dropdown-btn:hover {
    background-color: wheat;
     color: black;
   
 }
 
 .dropdown-btn:hover .dropdown-content{
     display: block;
 }
 .dropdown-content a:hover{
     background-color: wheat;
 }
 







#iink {
     /*	定位在視窗右下角，用 fixed */
     position: fixed;
     right: 20px;
     bottom: 10px;
     transform: scale(0.4, 0.4);
     opacity: 0.5;
     transition: 0.1S;
 }
 #iink:hover {
     opacity: 1;
     transform: scale(0.5, 0.5);
 }

 .mytabs:link{
      
     transition-duration: 0.1s;
     transition-property: transform;
     transition-timing-function: ease;
 }
 .mytabs:hover{
      
     transform: scale(1.05,1.05);
     border: 3px dashed;
     background-color: lightyellow;
     
     
 }
/* news_CSS/Start */
.box-content{
     padding: 20px;
     border: 1px solid #ffd700(0,0,0,0.5);
     background: radial-gradient(circle, #ffd700,rgba(255, 0, 0, 0.7));
     border-radius: 20px; 
}
.news-button{
     display: block;
     width: 100%;
}
.div-img{
     transform: scale(1);
     opacity: 1;
     transition-duration: 0.8s;
     transition-property: transform;
     transition-timing-function: ease;
     width: 250px;
     height: 200px;
}
.div-img:hover{
     transform: scale(1.088);
     opacity: 0.5;
}
@media screen and (max-width:900px) {
     .div-img{
          display: inline-block;
     }
}


@media screen and (max-width:768px) {
     .div-img{
          display: none;
     }
}

 
 /* news_CSS/End */

/* keymanlist/Start */
.div-summary{
     text-indent : 4em;   
}
#title{
     
     color: rgb(138,7,7);
}
.myboss, .mycarousel{
     transform: scale(1);
     opacity: 1;
     transition-duration: 0.7s;
     transition-property: transform;
     transition-timing-function: ease;
}
.myboss:hover{
     transform: scale(1.05); 
     box-shadow: 0 3px 9px black;
}
/* keymanlist/End */


/* 照片輪播/START */
.mycarousel-item{
     height: 450px;
}
.mycarousel-item img{
     height: 100%;
} 
.mycarousel-img{
     transform: scale(1);
     opacity: 1;
     transition-duration: 1s;
     transition-property: transform;
     transition-timing-function: ease;
}
.mycarousel-img:hover{
     transform: scale(1.05); 
     box-shadow: 0 3px 9px black;
}
/* 照片輪播/END */
/* FB影片/START */
@media screen and (min-width:767px){
     #myvideos{
          width:auto;
          height: auto;
     }
}

@media screen and (min-width:768px) {
     #myvideos{
          width: 660px;
          height: 362px;
     }
}
@media screen and (min-width:990px){
     #myvideos{
          width: 825px;
          height: 453.75px;
     }
}
/* FB影片/END */


/* 服務項目/START */
.ink-box {
     border-width: 2px 3px 2px 5px;
     border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
     /* 做出傾斜的視覺感 */
     
     
}
.ink-box-double {
     transform: scale(1);
     border: dashed black 2px;
     animation-name:normal-logo-animation;
     animation-duration: 1s;
     animation-timing-function: ease;
     animation-iteration-count: 1;
     animation-direction: normal;
     transition-duration: 1s;
     transition-property: transform;
     transition-timing-function: ease;
   }
.ink-box-double:hover{
     transform: scale(1.05);
     box-shadow:3px 3px 3px 3px #ffd700;
     
}

@keyframes normal-logo-animation{
     from {transform: scale(0.1) rotate(0deg) ;}
     to {transform: scale(1) rotate(360deg) ;}
}
